@model IEnumerable<DatabaseAccess.tblAccountHead>

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<p>
    @Html.ActionLink("Create New Head", "Create",null, new { @class= "btn btn-success"  })
  
</p>
<table class="table">
    <tr>
         
        <th>
        Head Name
        </th>
        <th>
            Code
        </th>
        <th>
            User
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.AccountHeadName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AccountHeadID },new{@class="btn btn-primary" })

            @*@Html.ActionLink("Details", "Details", new { id=item.AccountHeadID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountHeadID })*@
        </td>
    </tr>
}

</table>
